<div class="apresentacao">
  <div class="card">
      <div class="card-header"><b>Lançamentos</b></div>

      <div class="card-body">
          <form>
              <div class="form-group">
                  <label for="de">De:</label>
                  <input type="number" id="de" class="form-control">
              </div>

              <div class="form-group">
                  <label for="ate">Até:</label>
                  <input type="number" id="ate" class="form-control">
              </div>

              <button class="btn btn-primary btn-block btn-sm">Filtrar</button>

          </form>
      </div>
  </div>

  <div class="banner">
    <img src="assets/images/img5.gif" width="250" height="260"/>
  </div>
</div>

<div class="formas-pgto" id="pgto">
  <div><p>Formas de Pagamento</p></div>

  <ul class="itens-pgto">
      <li>
      <img src="https://www.cvc.com.br/imageproc/image/upload/v1/global/logos/cards/visa.svg" alt="Logomarca Visa"></li>
      <li><img src="https://www.cvc.com.br/imageproc/image/upload/v1/global/logos/payments/mastercard.svg" alt="Logomarca Mastercard"></li>
      <li><img src="https://www.cvc.com.br/imageproc/image/upload/v1/global/logos/cards/elo.svg" alt="Logomarca Elo"></li>
      <li><img src="https://www.cvc.com.br/imageproc/image/upload/v1/global/logos/cards/american-express.svg" alt="Logomarca AmericanExpress"></li>
      <li><img src="https://www.cvc.com.br/imageproc/image/upload/v1/global/logos/cards/diners.svg" alt="Logomarca Diners"></li>
      <li><img src="https://www.cvc.com.br/imageproc/image/upload/v1/global/logos/cards/hipercard.svg" alt="Logomarca Hipercard"></li>
  </ul>

</div>


